<div class="home3">
    <section class="random">
        😂<a href="" class="link"><span>Random Meme</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="9 6 15 12 9 18"></polyline></svg></a>
        <div >
            <img src="https://randommeme-five.vercel.app/" class="memeimg" alt="">
        </div>
    </section>
    
    <section class="skills">
        🤹🏻 <a routerLink="/project" class="link"><span>Skills</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="9 6 15 12 9 18"></polyline></svg></a>
            <p class="subtitle">Learning never exhausts the mind.</p>
           
                <div class="shadowimg">
                    @for(skills of skillslist; track skills.title){
                         <div class="skillslist">
                    <div class="skillTitle">
                        <span>{{skills.title}}</span>
                    </div>
                    <div class="skillsRating subtitle">
                        {{skills.Subtitle}}
                    </div>
                 </div>
                    }
                </div>
            
        
    
    </section>

</div>