
<section>
  

  <div class="projcard-container">
    @for(pro of projectshow; track pro.id){
 
	<div [ngClass]="getClassOf(pro.id)">
		<div class="projcard-innerbox">
          
			<img class="projcard-img" src="{{pro.cover}}" />
			<div class="projcard-textbox">
				<div class="projcard-title">{{pro.simpleName}}</div>
				<div class="projcard-subtitle">{{pro.projectName}}</div>
				<div class="projcard-bar"></div>
				<div class="projcard-description">{{pro.Description}}.</div>
                @for(stack of pro.techStack ; track stack.stack){
				<div class="projcard-tagbox">
					<span class="projcard-tag" >{{stack.stack}}</span>
					
				</div>
            }
			</div>
      
		</div>
    
	</div>
}

</div>
</section>
<app-footer></app-footer> 